body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/tiorene.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px; /* Limit max width */
    margin: auto;
}

.form-container {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.border-icon {
    margin: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0022;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff0000;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    .iconos {
        flex-direction: row;
        justify-content: space-around;
    }
}
